<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pros.app.com.pros">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ProsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".launch_screen.LaunchActivity" />
        <activity
            android:name=".account.activity.SignInActivity" />
        <activity
            android:name=".account.activity.SignUpActivity" />
        <activity
            android:name=".home.activity.HomeActivity" />
        <activity
            android:name=".home.activity.SplashActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.activity.ProfileActivity" />
        <activity
            android:name=".search.activity.SearchActivity" />
        <activity
            android:name=".profile.activity.SettingsActivity" />
        <activity
            android:name=".profile.activity.FollowingActivity" />
        <activity
            android:name=".profile.activity.AthleteProfileActivity"></activity>
    </application>

</manifest>